@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 100vw;
  height: 100vh;
  gap: 30px;
  @media screen and (max-width: 767px) {
    justify-content: start;
  }
}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 767px) {
    width: 280px;
    height: 280px;
  }
}

.game img {
  width: 70px;
  height: 70px;
  @media screen and (max-width: 767px) {
    width: 35px;
    height: 35px;
  }
}

.score-board {
  width: 200px;
  padding: 20px;
  text-align: center;
  font-style: 36px;
  color: #00eeff;
  border: 1px solid #00eeff;
  @media screen and (max-width: 767px) {
    margin-top: 50px;
  }
}

.score-board {
  animation: hueRotate 6s ease-in-out 3s infinite;
}

@keyframes hueRotate {
  0% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(-120deg);
  }

  100% {
    filter: hue-rotate(0deg);
  }
}
